<template>
    <div>
        <div class="col-12 text-center">
        <button class="btn btn-vue btn-lg col-4" type="submit" >Submit</button>
        </div>
    </div>
</template>

<script>
export default {
    name:"Button",
<<<<<<< HEAD
    // data(){
    //     return ""
    // }
=======
    data(){
    }
>>>>>>> 7078e945fcd48932349e600e97ee78ab2eb8cd1a
}
</script>