<template>
<<<<<<< HEAD
    <div style="background-color: grey">
        <br>
        <div>
            <b-form-select style="width:200px" v-model="selected"   :options="options" @input="clear"></b-form-select>
        </div>
        <br>
        <div>
            <b-form-input v-model="text" placeholder="Enter here..."></b-form-input>
        </div>
        <div class="mt-3"><strong>{{ selected }}</strong></div>
        <br>
        <b-form-textarea id="textarea-rows" rows="8" v-model="text"></b-form-textarea>
        <br>
        <div>
            <b-button style="margin:5px" v-on:click="submit(text)" variant="danger">submit</b-button>
        
            <b-button v-on:click="clear()" variant="danger">clear</b-button>
        </div>
        <br>
=======
    <div>
        <b-dropdown id="dropdown-1" text="Assignee/Applicant" class="m-md-2"  v-model="dd">
        <b-dropdown-item>Text</b-dropdown-item>
        <b-dropdown-item>Name</b-dropdown-item>
        <b-dropdown-item>Number</b-dropdown-item>
        <b-dropdown-divider></b-dropdown-divider>
        <!-- <b-dropdown-item active>Active action</b-dropdown-item>
        <b-dropdown-item disabled>Disabled action</b-dropdown-item> -->
        <b-dropdown-item>Other option 1</b-dropdown-item>
        <b-dropdown-item>Other option 2</b-dropdown-item>
        <b-dropdown-item>Other option 3</b-dropdown-item>
        </b-dropdown>
        <br>
        <b-form-select v-model="selected" :options="options"></b-form-select>
        <br>
        <div>
            <b-form-input v-model="text">{{ dd }}</b-form-input>
            <br><!-- <div class="mt-2">Value: {{ text }}</div> -->
        </div>
        <b-form-textarea id="textarea-rows" rows="8" v-model="text">{{ text }}</b-form-textarea>
>>>>>>> 7078e945fcd48932349e600e97ee78ab2eb8cd1a
    </div>
</template>

<script>
<<<<<<< HEAD


=======
>>>>>>> 7078e945fcd48932349e600e97ee78ab2eb8cd1a
export default {
    name:"dropdown",
    data(){
        return {
<<<<<<< HEAD
            dropdown:"",
            text:"",
            selected:null,
            options:[
                { value: null, text: 'Assignee/Applicant' },
                { value: '(nme)', text: 'Name' },
                { value: '(num)', text: 'number' },
                { value: '(any)', text: 'anything' },
                { value: '(dis)', text: 'This one is disabled', disabled: true }
            ]
        }
    
    },

    methods: {
        submit(){
            return this.text;
        },
        clear(){
            return this.text="";
        },
        choose(){
            console.log(this.text)
            if (this.selected === "a") {
                this.text = `Name - ${this.text}`;
                return this.text;
            }
=======
            dd:"",
            text:"",
            selected:""
>>>>>>> 7078e945fcd48932349e600e97ee78ab2eb8cd1a
        }
    }
}
</script>