<template>
    <div>
        <div class="col-12 form-group">
            <label class="col-form-label col-form-label-lg">Email<span class="text-danger"></span></label>
            <input type="email" v-model="email" class="col-form-label col-form-label-lg" required v-model.trim="email">
            <!-- <div v-if ="email.length<2" class="invalidfeed" style="color:red">This field is required.</div> -->
            {{email}}
            <div v-if="!this.email.match(this.email_val)" style="color:red">Enter valid info</div>
        </div>
    </div>
</template>

<script>
export default {
    name:"Input",
    data(){
        return {
            email:"",
            email_val:/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
        }
    }
}
</script>