<template>
    <div>
        <div class="col-12 form-group">
            <label class="col-form-label col-form-label-lg">Phone<span class="text-danger"></span></label>
            <input type="number" v-model="phone" class="col-form-label col-form-label-lg" required pattern="[1-9]{1}[0-9]{9}" v-model.number="phone">
            <div v-if ="phone.length>10" class="invalidfeed" style="color:red">Enter valid info.</div>
            {{phone}}
            <div v-if="!this.phone.match(this.pno)" style="color:red">Enter valid info</div>
        </div>
    </div>
</template>

<script>
export default {
    name:"Input",
    data(){
        return {
            phone:"",
            pno:"[1-9]{1}[0-9]{9}"
        }
    }
}
</script>