<template>
    <form id="SignupForm" @submit.prevent = "processForm">
        <div class="row">
            <!-- <label class="col-form-label col-form-label-lg" >First Name<span class="text-danger"></span></label>
            <Input/>
            <label class="col-form-label col-form-label-lg" >Last Name<span class="text-danger"></span></label>
            <Input/>
            <Email/>
            <Phone/>
            <Button/> -->
            <dropdown/>
<<<<<<< HEAD
            <!-- <Sample/> -->
        </div>
    </form>
=======
        </div>
    </form>

>>>>>>> 7078e945fcd48932349e600e97ee78ab2eb8cd1a
</template>


<script>
<<<<<<< HEAD
 //import Input from './Input.vue'
 //import Email from './Email.vue'
 //import Phone from './Phone.vue'
// import Button from './Button.vue'
import dropdown from './dropdown.vue'
//import Sample from './Sample.vue'
export default {
    name : "SignupForm",
    components: {
     //Input,
     //Email,
     //Phone,
     //Button,
    dropdown
  //  Sample
=======
// import Input from './Input.vue'
// import Email from './Email.vue'
// import Phone from './Phone.vue'
// import Button from './Button.vue'
import dropdown from './dropdown.vue'

export default {
    name : "SignupForm",
    components: {
    // Input,
    // Email,
    // Phone,
    // Button,
    dropdown
>>>>>>> 7078e945fcd48932349e600e97ee78ab2eb8cd1a
  },
    data: function(){
        return {
        };
    },
    methods: {
    processForm: function() {
      console.log({ first_name: this.Fname, last_name: this.Lname, email: this.Email, phone:this.Contact });
      alert('Processing!');
    }
  }
}
</script>
<style>
.btn-vue{
    background: #538985;
    color: #314850;
    font-weight: bold;
}
</style>